{% extends "layouts/dashboard.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include "components/dashboard-sidebar.njk" %}
{% include "components/dashboard-header.njk" %}
<main class="flex-1 overflow-y-auto p-6 lg:p-10">
    <div class="w-full space-y-8">

        {% include "components/verify-account.njk" %}

        <div class="mb-8">
            <nav class="flex mb-3 text-xs font-bold tracking-widest text-gray-500 justify-between flex-col md:flex-row gap-5"
                aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3 uppercase">
                    <li class="inline-flex items-center">
                        <a href="/dashboard" class="hover:text-white transition-colors">Dashboard</a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right text-gray-600"></i>
                            <a href="/dashboard/billing" id="breadcrumb-workspace"
                                class="hover:text-white ml-1 md:ml-2 transition-colors">Pagos</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right text-gray-600"></i>
                            <span class="ml-1 md:ml-2 text-orange-500">Planes</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for plan in plans %}
            <div class="space-y-6">
                <div class="plan-card plan-active glass-card p-10 rounded-[2.5rem] relative z-10">
                    {% if plan.highlight %}
                    <div
                        class="absolute -top-4 left-1/2 -translate-x-1/2 bg-(--accent) text-white text-[10px] font-black px-4 py-1.5 rounded-full uppercase">
                        {{ plan.highlight_title }}
                    </div>
                    <div class="text-xs font-bold uppercase mb-4 text-orange-500">
                        {{ plan.highlight_subtitle }}
                    </div>
                    {% endif %}
                    <div class="text-4xl font-bold mb-2 italic">{{ plan.name }}</div>
                    <div class="flex items-baseline gap-1 mb-8">
                        <span class="text-5xl font-black">S/ <span>{{ plan.price }}</span></span>
                        <span class="text-zinc-500 text-xs font-bold uppercase">/ mes</span>
                    </div>
                    <div class="h-px bg-white/10 w-full mb-8"></div>
                    <ul class="space-y-4 mb-10">
                        {% for item in plan.description %}
                        <li class="flex items-center gap-3 text-sm font-semibold">
                            <span class="text-(--accent)"><i class="fa-sharp fa-solid fa-check"></i></span> {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="/dashboard/billing/plans/{{ plan.id }}"
                        class="bg-(--accent) hover:bg-(--accent-hover) text-white px-6 py-3 rounded-2xl text-sm font-bold flex items-center justify-center gap-2 transition-all shadow-xl shadow-orange-900/20 active:scale-95 cursor-pointer">
                        {% if companies_q == 0 %}
                        Empezar la prueba gratuita!
                        {% else %}
                        Pagar ahora!
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</main>
{% include "components/dashboard-footer.njk" %}

{% endblock %}