{% extends "layouts/dashboard.njk" %}

{% block title %}Platform Dashboard{% endblock %}

{% block content %}
{% include "components/dashboard-sidebar.njk" %}
{% include "components/dashboard-header.njk" %}
<main class="flex-1 overflow-y-auto p-6 lg:p-10">
    <div class="w-full space-y-8">
        <div class="mb-8">
            <nav class="flex mb-3 text-xs font-bold tracking-widest text-gray-500 justify-between flex-col md:flex-row gap-5"
                aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3 uppercase">
                    <li class="inline-flex items-center">
                        <a href="/platform" class="hover:text-white transition-colors">Dashboard</a>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right text-gray-600"></i>
                            <span class="ml-1 md:ml-2 text-orange-500">Negocios</span>
                        </div>
                    </li>
                </ol>
                <a href="/platform/companies/create"
                    class="bg-(--accent) hover:bg-(--accent-hover) text-white px-6 py-3 rounded-2xl text-sm font-bold flex items-center justify-center gap-2 transition-all shadow-xl shadow-orange-900/20 active:scale-95 cursor-pointer">
                    <i class="fa-solid fa-plus"></i>
                    Nuevo Negocio
                </a>
            </nav>
        </div>

        <div class="rounded-3xl overflow-hidden glass-card">
            <div class="overflow-x-auto">
                <table class="w-full text-left border-collapse">
                    <thead>
                        <tr class="bg-white/5 border-bottom border-(--border)">
                            <th class="px-6 py-4 text-[10px] font-black uppercase tracking-[0.2em] text-(--text-muted)">
                                Información del Negocio</th>
                            <th class="px-6 py-4 text-[10px] font-black uppercase tracking-[0.2em] text-(--text-muted)">
                                Gestión / Titular</th>
                            <th class="px-6 py-4 text-[10px] font-black uppercase tracking-[0.2em] text-(--text-muted)">
                                Plan & Suscripción</th>
                            <th class="px-6 py-4 text-[10px] font-black uppercase tracking-[0.2em] text-(--text-muted)">
                                Invitado por</th>
                            <th
                                class="px-6 py-4 text-[10px] font-black uppercase tracking-[0.2em] text-(--text-muted) text-right">
                                Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-sm font-medium">
                        {% for company in companies %}
                        <tr class="table-row">
                            <td class="px-6 py-5">
                                <div class="flex items-center gap-4">
                                    <div class="hidden lg:block w-12 h-12 overflow-hidden rounded-xl">
                                        <img src="https://ui-avatars.com/api/?name={{ company.name }}&background=FD420A&color=fff"
                                            class="bg-cover" alt="Company Initials">
                                    </div>
                                    <div>
                                        <p class="font-bold">{{ company.name }}</p>
                                        <p class="text-[10px] text-(--text-muted) font-bold uppercase">{{ company.date
                                            }}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-5">
                                <p class="font-bold capitalize">{{ company.in_charge.fullname}}</p>
                                <p class="text-[11px] text-(--text-muted)">{{ company.in_charge.email }}</p>
                            </td>
                            <td class="px-6 py-5">
                                <span class="badge badge-active uppercase mb-2">{{ company.plan }}</span>
                                <div class="flex items-center gap-2">
                                    {% if not company.suspended and not company.active %}
                                    <span class="w-2 h-2 bg-yellow-500 rounded-full"></span>
                                    <span class="text-[11px] font-medium text-yellow-500">Pendiente</span>
                                    {% elif company.active %}
                                    <span class="w-2 h-2 bg-green-500 rounded-full"></span>
                                    <span class="text-[11px] font-medium text-green-500">Activo</span>
                                    {% else %}
                                    <span class="w-2 h-2 bg-red-500 rounded-full"></span>
                                    <span class="text-[11px] font-medium text-red-500">Suspendido</span>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="px-6 py-5">
                                <p class="text-(--text-muted) text-xs font-bold capitalize">{{
                                    company.invited_by.fullname }}</p>
                            </td>
                            <td class="px-6 py-5">
                                <div class="flex items-center justify-end gap-2 text-(--text-muted)">
                                    {% if not company.suspended %}
                                    <a href="#{{ company.id }}"
                                        class="p-2.5 text-green-400 hover:bg-green-400/5 rounded-xl transition-all cursor-pointer"
                                        title="Editar">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="#{{ company.id }}"
                                        class="p-2.5 text-yellow-500 hover:bg-yellow-500/10 rounded-xl transition-all cursor-pointer"
                                        title="Suspender">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                    </a>
                                    {% else %}
                                    <button
                                        class="px-4 py-2 bg-white/5 hover:bg-white/10 rounded-xl text-xs font-bold text-green-500 transition-all cursor-pointer">Re-Activar</button>
                                    {% endif %}
                                    <a href="#{{ company.id }}"
                                        class="p-2.5 text-red-500 hover:bg-red-500/10 rounded-xl transition-all cursor-pointer">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex items-center justify-between mt-6">
            <span class="px-4 py-2 rounded-xl bg-white/5 text-gray-500 cursor-not-allowed">
                <i class="fa-duotone fa-regular fa-angle-left"></i> Anterior
            </span>

            <span class="text-sm text-gray-400">
                Página 1 de 1
            </span>

            <span class="px-4 py-2 rounded-xl bg-white/5 text-gray-500 cursor-not-allowed">
                Siguiente <i class="fa-duotone fa-regular fa-angle-right"></i>
            </span>
        </div>
    </div>
</main>
{% include "components/dashboard-footer.njk" %}

{% endblock %}