{% extends "layouts/auth.njk" %}

{% block content %}
<div class="glow-bg" style="top: -15%; right: -10%;"></div>
<div class="glow-bg" style="bottom: -15%; left: -10%;"></div>

<div class="w-full max-w-lg px-6 flex flex-col items-center">

    <div class="flex flex-col items-center mb-10">
        <div class="w-24 h-24 rounded-2xl flex items-center justify-center mb-4">
            <img src="/public/img/logo.svg">
        </div>
        <h1 class="text-2xl font-bold tracking-tight">Nexo<span class="text-(--accent)">Local</span></h1>
    </div>

    <div class="auth-card bg-[#151B23]/90 p-8 sm:p-10 rounded-[2.5rem] shadow-2xl w-full">

        <div id="auth-content" class="fade-in">
            <div id="register-form">
                <h2 class="text-2xl font-bold mb-1">Cambiar Contraseña</h2>

                <form action="/auth/recover?id={{ recover_id }}" method="POST" class="space-y-4" autocomplete="off">
                    <div class="grid grid-cols-1 gap-4">
                        <div class="space-y-2">
                            <label
                                class="block text-[10px] font-bold uppercase tracking-widest text-gray-400 ml-1">Nueva
                                Contraseña</label>
                            <input type="password" name="new_password" required placeholder="************"
                                class="input-field w-full px-4 py-3 rounded-xl text-sm text-white">
                        </div>
                        <div class="space-y-2">
                            <label
                                class="block text-[10px] font-bold uppercase tracking-widest text-gray-400 ml-1">Confirmar
                                Nueva Contraseña</label>
                            <input type="password" name="confirm_new_password" required placeholder="************"
                                class="input-field w-full px-4 py-3 rounded-xl text-sm text-white">
                        </div>
                    </div>

                    <button type="submit"
                        class="bg-(--accent) hover:bg-(--accent-hover) text-white px-6 py-3 rounded-2xl text-sm font-bold flex items-center justify-center gap-2 transition-all shadow-xl shadow-orange-900/20 active:scale-95 cursor-pointer w-full">
                        Cambiar Contraseña
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}