{% extends "layouts/dashboard.njk" %}

{% block title %}Platform Dashboard{% endblock %}

{% block content %}
{% include "components/dashboard-sidebar.njk" %}
{% include "components/dashboard-header.njk" %}
<main class="flex-1 overflow-y-auto p-6 lg:p-10">
    <div class="w-full space-y-8">

    </div>
</main>
{% include "components/dashboard-footer.njk" %}

{% endblock %}