{% extends "layouts/dashboard.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include "components/dashboard-sidebar.njk" %}
{% include "components/dashboard-header.njk" %}
<main class="flex-1 overflow-y-auto p-6 lg:p-10">
    <div class="w-full space-y-8">

        {% include "components/verify-account.njk" %}

        <div class="mb-8">
            <nav class="flex mb-3 text-xs font-bold tracking-widest text-gray-500 justify-between flex-col md:flex-row gap-5"
                aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3 uppercase">
                    <li class="inline-flex items-center">
                        <a href="/dashboard" class="hover:text-white transition-colors">Dashboard</a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right text-gray-600"></i>
                            <a href="/dashboard/billing" id="breadcrumb-workspace"
                                class="hover:text-white ml-1 md:ml-2 transition-colors">Pagos</a>
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <i class="fa-solid fa-chevron-right text-gray-600"></i>
                            <span class="ml-1 md:ml-2 text-orange-500">Historial de Pagos</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</main>
{% include "components/dashboard-footer.njk" %}

{% endblock %}