<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Authentication | Nexolocal</title>
    <!-- Icon -->
    <link rel="icon" href="/public/img/logo.png" />
    <!-- Meta -->
    <meta name="robots" content="noindex, nofollow">
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/animations.css" />
    <link rel="stylesheet" href="/public/css/tailwind.build.css" />
</head>

<body class="auth-page flex justify-center items-center h-screen">
    {% include "components/notifications.njk" %}
    {% block content %}{% endblock %}

    <!-- JS -->
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/notify.js"></script>
</body>

</html>