<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Title -->
  <title>{% block title %}NexoLocal{% endblock %}</title>
  <!-- Icon -->
  <link rel="icon" href="/public/img/logo.svg" />
  <!-- JS -->
  <!--<script src="https://cdn.tailwindcss.com"></script>-->
  <link rel="stylesheet" href="/public/css/all.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/animations.css" />
  <link rel="stylesheet" href="/public/css/tailwind.build.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    {% include "components/notifications.njk" %}
    {% block content %}
    {% endblock %}

  <script src="/public/js/notify.js"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>